<div class="wrapper">
  <div class="sidebar">
    <p class="title">MOCHII<br>NOBORU</p>
    <ul class="menu">
      <a href="#home"class="menu-list">HOME</a>
      <a href="#EXPERIENCE" class="menu-list">EXPERIENCE</a>
      <a href="#SKILLS" class="menu-list">SKILLS</a>
      <a href="#PRODUCTION" class="menu-list">PRODUCTION</a>
    </ul>
  </div>
  <div class="main" id="home" id="nav-drawer">
    <div class="home">
      <p class="main-title">MY PORTFOLIO</p>
      <img src="https://i.gyazo.com/2932c1363f3ee307cbfaa62c939a02da.jpg" class="home-img">
    </div>
    <div class="exp-top" id="EXPERIENCE">
      <div class="exp-header">
        <p class="title">EXPERIENCE</p>
        <div class="exp-contents">
          <div class="exp-left">
            <img src="https://i.gyazo.com/35eb566b62082f039d55de86ce83a96e.jpg" class="pr-img">
          </div>
          <div class="exp-right">
            <p class="exp-describe">新卒から10年以上営業職に従事してきました。<br>
            <br>2009.4 ~ 2014.2 自動車業界/営業<br>新車販売の営業に携わり、個人・法人の顧客に対して<br>新車、各種保険、通信機器の販売を行っていました。<br>
            <br>2014.3 ~ 2020.6 製薬業界/営業<br>製薬業界で医薬品の情報提供活動をしてきました。<br>
            主に医師、薬剤師、病院などのスタッフ向けに自社製品の有効性、<br>安全性などをプロモーションしていました。<br>
            <br>2020.6 ~ 2020.8 ITオンラインスクール<br>今まで人の役に立ちたいと思い営業職に就いていましたが、<br>
            プログラミングにはより大きな魅力とやりがいを感じて今に至ります。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="skl-top" id="SKILLS">
      <p class="title">SKILLS</p>
      <div class="skl-contents">
        <div class="skl-left">
          <div class="up-img">
            <img src="https://i.gyazo.com/4377c5f3718e24317d5556fb15a09887.png" class="skl-img">
            <img src="https://i.gyazo.com/9c90524d4ef5bacca6bd81e38b869b49.png" class="skl-img">
            <img src="https://i.gyazo.com/8a792b5cf7db7d52933bf895e2ca72c0.png" class="skl-img">
          </div>
          <div class="bottom-img">
            <img src="https://i.gyazo.com/53c56bafc64c5947d0598a423736a010.png" class="skl-img">
            <img src="https://i.gyazo.com/cda7e22b5c0881c4d883400ab871b3d0.png" class="skl-img">
          </div>
        </div>
        <div class="skl-right">
          <P class="skl-title">フロントエンドスキル</p>
          <p class="skl-describe">
          HTML/CSS/JavaScriptの基礎、haml、sassでの記法を学習しました。<br>
          簡単なサイトの構築は学んでいますが、多くのサイトに訪問し見た目を模倣することで<br>日々スキルアップを図っています。<br>
          JSで表現できるアニメーションなどの知識が薄いため、HTML、CSS同様にサイト訪問、<br>どうすれば表現できるかを調べて実行しています。</p><br>
          <p class="skl-title">バックエンドスキル</p>
          <p class="skl-describe">
          Ruby/Ruby on Railsの基礎と実際に3つのアプリ（下記Productionコンテンツ）を<br>
          作成しながら学習しました。<br>
          Rubyは復習のため、簡単な計算プログラムの作成、API問題など毎日問題をこなしています。<br>
          Railsでは、ビューの作成から完成までの流れをより定着させるために、自作のWEBアプリケ<br>
          ーションを作成しています。
          </p>
        </div>
      </div>
    </div>
    <p class="prd-title">PRODUCTION</p>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
        <%# <p class="prd-title">PRODUCTION</p> %>
          <div class="prd-top">
            <div class="left">
              <p class="title">GoodIdea.com</p>
              <p class="prd-describe">便利な物や知恵を共有するアプリです。<br>
              主婦の方や仕事と家事を両立している<br>方々などが少しでも時短、効率が良く<br>なれば幸いです。<br>
              ユーザー登録後、便利を投稿できます。<br>
              便利一覧はどなたでもご覧頂けます。<br><br>HTML/CSS/JavaScript/Ruby on Rails</p>
              <div class="git">
                <img src="https://i.gyazo.com/0a9b9cb746c28e44c1a99a4504e99c7a.png" class="prd-img">
                <a href="https://github.com/nbrmci/good_idea" class="prd-link">Github</a><br>
              </div>
              <div class="git">
                <img src="https://i.gyazo.com/af9ad2629c6bb7f037f9f93d77f0b696.png" class="prd-img">
                <a href="#" class="prd-link">製作中です</a>
              </div>
            </div>
            <div class="right">
              <img src="https://i.gyazo.com/73cad14e431f50848f7cf551020d15d9.jpg" class="prd-image">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="prd-top">
            <div class="left">
              <p class="title">ChatSpace</p>
              <p class="prd-describe">複数のユーザーでチャットができる<br>
              アプリです。ユーザー登録後にグル<br>ープ作成する事ができます。<br>
              チャットではajaxによる非同期通信<br>でメッセージと画像を送信する事が<br>
              できます。<br><br>HTML/CSS/JavaScript/Ruby on Rails</p>
              <div class="git">
                <img src="https://i.gyazo.com/e6e317170a1207a8eaa293b06c44c255.png" class="prd-img">
                <a href="https://github.com/nbrmci/ChatSpace" class="prd-link">Github</a><br>
              </div>
              <div class="git">
                <img src="https://i.gyazo.com/af9ad2629c6bb7f037f9f93d77f0b696.png" class="prd-img">
                <a href="54.150.156.191" class="prd-link">ChatSpace</a>
              </div>
            </div>
            <div class="right">
              <img src="https://i.gyazo.com/e9df41da121c30a214190ad65827405d.png" class="prd-image">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="prd-top">
            <div class="left">
              <p class="title">フリマアプリ</p>
              <p class="prd-describe">商品の出品、購入ができるフリーマ<br>
              ーケットアプリです。<br>実際に購入することはできません。<br>
              Payjpによるクレジット決済導入、<br>また常時画像が表示されるように<br>S3で画像保存しています。<br>
              <br>HTML/CSS/JavaScript/Ruby on Rails</p>
              <div class="git">
                <img src="https://i.gyazo.com/e6e317170a1207a8eaa293b06c44c255.png" class="prd-img">
                <a href="https://github.com/nbrmci/furima_27912" class="prd-link">Github</a><br>
              </div>
              <div class="git">
                <img src="https://i.gyazo.com/af9ad2629c6bb7f037f9f93d77f0b696.png" class="prd-img">
                <a href="https://furima-27912.herokuapp.com/" class="prd-link">フリマアプリ</a>
              </div>
            </div>
            <div class="right">
              <img src="https://i.gyazo.com/047ee94db8a994a8841349d745b3e5f5.jpg" class="prd-image">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="prd-top" id="PRODUCTION">
            <div class="left">
              <p class="title">PicTweet</p>
              <p class="prd-describe">ツイートが投稿できるアプリです。<br>ユーザー登録後にツイートの投稿、<br>
              編集、削除等ができます。<br>またツイートに対してコメント機<br>能の実装もしています。<br><br>
              HTML/CSS/Ruby on Rails　　　　　</p>
              <div class="git">
                <img src="https://i.gyazo.com/e6e317170a1207a8eaa293b06c44c255.png" class="prd-img">
                <a href="https://github.com/nbrmci/pictweet" class="prd-link">Github</a><br>
              </div>
              <div class="git">
                <img src="https://i.gyazo.com/af9ad2629c6bb7f037f9f93d77f0b696.png" class="prd-img">
                <a href="https://pictweet-27912.herokuapp.com/" class="prd-link">PicTweet</a>
              </div>
            </div>
            <div class="right">
              <img src="https://i.gyazo.com/abd5eb437a14f0c2c7e5ebef449ee04f.jpg" class="prd-image">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>